@import './partials/_app.scss';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Helvetica", "Century Gothic", sans-serif;
    font-weight: 100;
}

p, label {
    font-family: Cambria, Georgia, Palatino, serif;
    font-weight: 100;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}
